<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">
<th:block layout:fragment="extraHead">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
    <script src="/js/modal.js"></script>
</th:block>
<body>
<div layout:fragment="mainContent">
    <div class="row-box">
        <div class="col-boxes-1">
            <div class="col-table">
                <div class="table-section">
                    <div class="header-table">
                        <h2>Redigera hund</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="#" th:action="@{/admin/dogs/update/{id}(id=${dog.getId})}" method="post">
        <div class="center-align">
            <table class="table w-50">
                <tr>
                    <th>Details</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" th:value="${dog.getName}" id="name" name="name">
                    </td>
                </tr>
                <tr>
                    <td>Breed</td>
                    <td><input type="text" th:value="${dog.getBreed}" id="breed" name="breed">
                    </td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input type="text" th:value="${dog.getAge}" id="age" name="age">
                </tr>
                <tr>
                    <td>Size</td>
                    <td><input type="text" th:value="${dog.getSize}" id="size" name="size">
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="number" th:value="${dog.getPrice}" id="price" name="price">
                </tr>
            </table>
        </div>
        <div class="center-align">
            <input type="submit" value="Uppdatera" id="update">
        </div>
    </form>
</div>
</body>
</html>
